
div.row#am{
height:auto;
margin-top:60px;
}

div.col-sm-4.am{
background:url(../images/pp.jpg) no-repeat center center;
  height:380px;
}

div.col-sm-8#am{
    font-size:22px;
    padding-top:2px;
    height:auto;


}

p.first{
    margin-bottom: 10px;
}
@media screen and (max-width:768px){
    div.col-sm-8#am{
        font-size:18px;
    }
}