p{
    padding:0px;
    margin:0px;
    color:#706e7c;
}

body {
    background:url(../images/hbg4.jpg);
    width:100%;
    height:1900px;
    /* background-color:rgba(128, 0, 128, 0.185); */
}

div.container{
    background:white;
    height:100%
}


div.row.header{
    background:url(../images/hbg.png);
    background-color:#e2dde3;    
}

div.col-sm-4.top-left, div.col-sm-4.top-md, div.col-sm-4.top-lr{
    height:150px;
}
div.col-sm-4.top-left{
    text-align:right;
    
}

h1.this-page{
    font-family: 'Six Caps', sans-serif;
    font-size:135px;
    color:#706e7c;
    margin:0;

}

.inline-mobile{
    visibility: hidden;
}

div.col-sm-4.top-md{
    padding-left:0px;
    padding-bottom:20px;
}
div.inline{
    width:max-content;
    text-align: left;
    padding:10% 0;  
    position:relative;
    bottom:10px;
  
}
p.tri{
    font-size:19px;
    color:white;
}
a.am{
    color:white;
    /* display:inline; */
}

a.active{
    color:#706e7c;
    display:inline;
}

a:link:hover, a:visited:hover{
    color:#9c88a0;
    text-decoration:none;
}
div.col-sm-4.top-lr {
    text-align:center;
    vertical-align: middle;    
}

div.intro{
    margin-top:auto;
    margin-bottom:auto;
    text-align: center;
    font-size:17px;  
    color:rgba(114, 106, 116, 0.541);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
}
p.my-name{

    font-size:41px;
    color:white;
}

div#icons{
    width:max-content;
    margin:0 auto;
    margin-bottom:10px;
}

img.social{
    padding:2px;
    margin-left:2.4px;
    margin-right:2.4px;
   height:30px;
   width:30px;
}

div.row.first{
    margin-top:60px;
}

div.row.seperator{
    margin-top:0px;
    width: 102.76%;
   margin-left:-1.4%;
   padding:0 -100%;
}
div.col.seperator{

    height:25px;
    background-color:#9c88a0;
    border-radius:2px 2px 7px 7px;
    border-bottom-style:groove;
    border-bottom-width:10px;
}

div.col-sm-3.square1{
    height:200px;
}

 p#more{
     font-size: 20px;
     text-align:center;
     padding-top:20px;
     color:#706e7c;
 }

 @media screen and (max-width:768px){
    h1.this-page{
        font-family: 'Six Caps', sans-serif;
        font-size:100px;
    }
    
    
    div.col-sm-4.top-left{
        height:150px;
    }
}
@media screen and (max-width:414px){
   div.container{
        padding:0px;
        margin:0px;


    }
    div.col-sm-4.top-left{
        height:10px;
        text-align:center;
        
        
    }
    h1.this-page{
        font-size:5px;
       visibility:hidden;
    }

    .inline-mobile{
        visibility:visible;
        
    }
    p.tri-mob{
        display:inline;
    }

  

    div.col-sm-4.top-md{
        height:20px;
        padding:0px;
        padding-left:10px;        
    }

    .inline-dt{
        visibility:hidden;
    }
  


    p.tri{
        font-size:15px;
    }

    div.col-sm-4.top-lr{

        padding:0;
        margin-top:0px;
        height:110px;
    }

    p.my-name{
        font-size:21px;
    }

    p{
        font-size:15px;
    }


    div.intro{
        padding-top:0px;
        padding-right:0px;
        text-align: center;
    }

    div#social{
        height:10px;
        width:10px;
        padding:1px;

    }
    div.row.seperator{
        width:100%;
        margin-top:0;
    }
    div.col.seperator{
        border-radius:0px;
        margin:0;
        padding:0;
    }

}
@media screen and (max-width:360px){
    div.col-sm-4.top-left{
        height:200px;
    }
}