

body {
    background:url(../images/hbg4.jpg);
    width:100%;
    height:1000px;
    /* background-color:rgba(128, 0, 128, 0.185); */
}

.container{
    background:white;
}

p{
    padding:0px;
    margin:0px;
}

h1.this-page{
    font-family: 'Six Caps', sans-serif;
    font-size:170px;
}
div.row.header{
    background:url(../images/hbg.png);
    background-color:rgba(102, 51, 153, 0.151);    
}

div.col-sm-4.top-md{
    padding:5% 0;
}
div.inline{
    width:max-content;
    text-align: left;
    /* padding:10% 0;     */
}


p.tri{
    font-size:18px;
    color:white;
}

p.tp{
    font-size:20px;
    display:inline;
   
}


a.am{
    color:white;
    /* display:inline; */
}

a.active{
    color:black;
    display:inline;
}

a:link:hover, a:visited:hover{
    color:slategray;
    text-decoration:none;
}

div#icons{
    width:max-content;
    margin:0 auto;
    margin-bottom:10px;
}

img.social{
    padding:2px;
    margin-left:2.4px;
    margin-right:2.4px;
   height:30px;
   width:30px;

}
div.intro{
    margin-top:auto;
    margin-bottom:auto;   


   padding:10% 0;
    text-align: center;
    font-size:17px;  
    color:rgba(114, 106, 116, 0.541);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    
}
p.my-name{
    font-size:41px;
    color:black;

}

div.container{
    height:100%;
}


div.row.first{
    margin-top:60px;
}

div.col-sm-3.square1{
    height:200px;
}


div.col-sm-4.top-lr{
    height:270px;
    margin-top:20px;
    text-align:center;
    vertical-align: middle;
    
}

div.row.seperator{
    margin-top:15px;
    width: 105%;
   margin-left:-2.5%;
   padding:0 -100%;
}
div.col.seperator{

    height:35px;
    background-color:black;
    border-radius:5px 5px 20px 20px;
}

div.square{

    background-color:black;
    height:100%;
    border-radius:50px;
 }

 p#more{
     font-size: 20px;
     text-align:center;
     padding-top:20px;
     color:rgb(249, 235, 253);
 }

 @media screen and (max-width:768px){
    h1.this-page{
        font-family: 'Six Caps', sans-serif;
        font-size:100px;
    }
    div.col-sm-4.top-lr{
        height:150px;
     
        
    }
}
@media screen and (max-width:414px){
   div.container{
        padding:0px;
        margin:0px;

    }
    div.col-sm-4.top-lr{

        padding:0;
        margin-top:0px;
        height:160px;
    }

    p.my-name{
        font-size:30px;
    }
    h1.this-page{
      text-align: center;
      padding-right:50px;
    }

    div.col-sm-4.top-md{
        padding:0;
       padding-left:125px;
    }
    div.intro{
        padding-top:15px;
        padding-right:50px;
        text-align: center;
    }
    div.row.seperator{
        width:100%;
        margin-top:0;
    }
    div.col.seperator{
        border-radius:0px;
        margin:0;
        padding:0;
    }

}